<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Inicio</title>
    </h:head>
    <h:body>
        <p:growl/>
        <h:form>
            Bienvenido #{us.user}
            <p:commandButton action="#{personaUsuario.cerrarSesion()}" value="Cerrar Sesion" />
        </h:form>
    </h:body>
</html>

