<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <p:messages id="msj"/>
        <h:form id="mo">
            <p:fieldset legend="Nuevo" style="width: 250px">
                <p:panelGrid columns="1">
                    <p:commandButton value="Nueva Marca" oncomplete="PF('java').show();"/>
                </p:panelGrid>
            </p:fieldset>
        </h:form>
        <p:dialog widgetVar="java" header="Marcas" modal="true" resizable="false" showEffect="clip">
            <p:ajax event="close" listener="#{marcasAutos.init()}" update="datos"/>
            <h:form id="datos">
                <p:panelGrid columns="1">
                    <p:outputLabel value="Nombre:">
                        <p:inputText value="#{marcasAutos.marcas.nombre}"/>
                    </p:outputLabel>
                    
                    <p:commandButton value="Guardar" actionListener="#{marcasAutos.crear()}"
                                     rendered="#{marcasAutos.marcas.id == 0}"
                                     update="datos :tabla :msj" oncomplete="PF('java').hide();"/>
                    <p:commandButton value="Guardar edicion" actionListener="#{marcasAutos.editar()}"
                                     rendered="#{marcasAutos.marcas.id != 0}"
                                     update="datos :tabla :msj" oncomplete="PF('java').hide();"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>
        <h:form id="tabla" style="width: 400px; background: center">
            <p:fieldset legend="Marcas de Vehiculos" toggleable="true">
                <p:dataTable value="#{marcasAutos.listaMarcas}" var="m">
                    <p:column headerText="Id">
                        <h:outputText value="#{m.id}"/>
                    </p:column>
                    <p:column headerText="Nombre">
                        <h:outputText value="#{m.nombre}"/>
                    </p:column>
                    <p:column headerText="Opciones">
                        <p:commandButton value="Editar" actionListener="#{marcasAutos.cargarMarcas(m)}"
                                         update=":datos" oncomplete="PF('java').show();"/>
                    </p:column>
                </p:dataTable>
            </p:fieldset>
        </h:form>
    </h:body>
</html>

